@using AudioBrowser.Services
@inject AudioFilesAccess MediaFiles

<button @onclick="TogglePlayingAudioAsync" is-playing="@(playingSource is not null)">
    <svg class="play-icon w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -1 26 26" fill="currentColor"><path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" /></svg><svg class="stop-icon w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 28 28" fill="currentColor"><path fill-rule="evenodd" d="M4.5 7.5a3 3 0 013-3h9a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9z" clip-rule="evenodd" /></svg>
</button>


